<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <fieldset>
        <legend>Добавление нового пользователя</legend>
        <label for="fio">Введите ФИО: </label>
        <input type="text" th:field="*{fio}" id="fio"/>
        <div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"> fio Error</div>
        <br/>
        <label for="birthDate">Введите год рождения: </label>
        <input type="text" th:field="*{birthDate}" id="birthDate"/>
        <div style="color: red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"> birthDate Error</div>
        <br/>
        <br/>
        <input type="submit" value="Добавить">
    </fieldset>
</form>
</body>
</html>