<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getFio()}">Страница </title>
</head>
<body>

<h2 th:text="${person.getFio() + ', ' + person.getBirthDate()}">VALUE</h2>

<hr/>
<h2>Книги</h2>

<div th:if="${books.isEmpty()}">
    <p>Пока нет книг у этого пользователя</p>
</div>

<div th:if="${!books.isEmpty()}" th:each="book : ${books}">
        <a th:text="${book.getNameBook() + ', ' + book.getAuthorBook() + ', ' + book.getDatePublication()}">user</a>
</div>

<br/>
<hr/>

<!--<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">Редактировать</a>-->
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>